{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    // Possible Errors
    "no-console": 0,
    "valid-jsdoc": 2, // We want to generate good documentation, see JSDoc API for more info

    // Best Practices
    "consistent-return": 0,
    "default-case": 2, // We want to have a default case always, and it can't be empty
    "eqeqeq": 0,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-script-url": 0,
    "no-self-compare": 2,

    // Stylistic Issues
    "camelcase": 0,
    "comma-style": [2, "last"],
    "no-lonely-if": 2,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": 2,
    "spaced-line-comment": [0, "always", {"exceptions":["-","+"]}],
    "quotes": 0
  },
  "extends": "eslint:recommended"
}